.badge {
  font-family: $font-second;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  display: inline-block;
  padding: 5px 12px;
  user-select: none;
  text-transform: uppercase;
  color: $text;
  color: $white;
  border-radius: 3px;
  background-color: $gray;

  &.pill {
    border-radius: 10rem;
  }

  // @include color();
}