.breadcrumb {
  font-family: $font-general;
  font-size: 18px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  border-bottom: 1px solid $border-color;
  background: $block-background;
  transform: translateY(- $header-height - 1);

  ul {
    display: flex;
    margin: 0 auto;
    width: $wrapper-width;

    li {
      line-height: 56px;
      position: relative;
      display: block;
      list-style: none;
      // cursor: pointer;
      // float: left;
      white-space: nowrap;

      a {
        text-decoration: none;
        color: $text;

        &:hover {
          color: $text-blue;
        }
      }

      &::after {
        font-family: $font-fa;
        font-weight: $font-fa-solid;

// vertical-align: middle;
        margin: 0 18px;
        content: '\f105';
        opacity: .9;
        color: $text;

        // font-size: 18px;
      }

      &:last-child::after {
        margin: 0;
        content: '';
      }
    }
  }

  i {
    // font-size: 21px;
    // color: #188cb9;
    // vertical-align: middle;
    margin-right: 7px;
  }
}