.button {
  font-family: $font-general;
  font-size: $font-size-mini;
  font-weight: bold;
  line-height: 35px;
  display: inline-block;
  box-sizing: border-box;
  height: 35px;
  padding: 0 15px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
  transition-property: box-shadow, background-color;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  background: $button-blue;

  // box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  text-shadow: none;

  &.circle {
    border-radius: 99px;
  }

  &.dropdown {
    padding-right: 35px;
  }

  &.animate::before {
    font-family: $font-fa;
    font-size: $font-size-mini + 2px;
    font-weight: $font-fa-solid;
    position: relative;
    display: inline-block;
    margin-right: -7px;
    content: "\f105";
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(0);
    opacity: 0;
  }

  &.animate:hover::before {
    display: inline-block;
    margin-right: 8px;
    transform: scale(1);
    opacity: 1;
  }

  &.green {
    background-color: $button-green;
    &:hover {
      background-color: lighten($button-green, 4%);
      box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
    }
    &:active {
      background-color: darken($button-green, 6%);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15) inset;
    }
  }

  &.primary {
    background-color: $button-green;
  }

  &.info {
    background-color: $info;
  }

  &.success {
    background-color: $success;
  }

  &.warning {
    background-color: $warning;
  }

  &.danger {
    background-color: $danger;
  }

  &.default {
    color: $text-purple;
    background-color: $white;
  }
}

.button-big {
  font-family: $font-second;
  font-size: 21px;
  line-height: 52px;
  display: inline-block;
  height: 58px;
  padding: 0 45px;
  user-select: none;
  transition: All 0.2s ease;
  transition-property: background-color, color;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  border-radius: 100px;
  background-color: #38a0ca;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  &:hover {
    background-color: rgb(48, 151, 192);
  }

  // &:before {
  //     content: "";
  //     padding-top: 100%;
  //     display: inline-block;
  //     vertical-align: middle;
  // }

  &.vk {
    background-color: $button-vk;

    // &::after {
    //   position: absolute;
    //   left: 98px;
    //   bottom: 0px;
    //   display: block;
    //   width: 195px;
    //   height: 64px;
    //   content: '';
    //   background: url(../../images/VKontakte2.svg) no-repeat;
    //   /* background-size: cover; */
    //   background-position: center center;
    //   background-size: contain;
    //   /* border: 1px solid red; */

    // }

    &:hover {
      background-color: lighten($button-vk, 4%);
    }
  }

  // &.green {
  //   background-color: $button-green_m;

  //   &:hover {
  //     background-color: lighten($button-green_m, 4%);
  //   }
  // }
}

// .button-l {
//   font-family: $font-general;
//   font-size: $font-size-mini;
//   position: relative;
//   display: block;
//   align-items: center;
//   box-sizing: border-box;
//   width: 250px;
//   margin: auto;
//   margin-bottom: 8px;
//   padding: 13px 15px;
//   cursor: pointer;
//   user-select: none;
//   transition: all 2s ease;
//   text-align: center;
//   white-space: nowrap;
//   text-decoration: none;
//   color: $text;
//   border: solid $border transparent;
//   border-radius: 16px;
//   background: #fff;
//   background-clip: padding-box;
//   text-shadow: none;

//   &:last-child {
//     margin-bottom: 0;
//   }

//   &:hover {
//     color: initial;
//   }

//   &:before {
//     position: absolute;
//     z-index: -1;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     margin: -$border;
//     content: '';
//     border-radius: inherit;
//     background: linear-gradient(to bottom right, #5f5f5f, #b3b3b3);
//   }

//   /* ******************************** *
//     *  BUTTON
//   * ********************************* */

//   &.game:before {
//     background: linear-gradient(to bottom right, #ff0f00, #b200aa);
//   }

//   // &.game:hover:after {
//   //   position: absolute;
//   //   top: 0;
//   //   right: 0;
//   //   bottom: 0;
//   //   left: 0;
//   //   margin: -$border;
//   //   content: '';
//   //   border-radius: inherit;
//   //   background: linear-gradient(to bottom right, #ff0f00#{$opasity},#b200aa#{$opasity});
//   // }

//   &.game:hover:before {
//     background: linear-gradient(to bottom right, lighten(#ff0f00, $lighten), lighten(#b200aa, $lighten));
//   }

//   /* ******************************** *
//     *  LOCK
//   * ********************************* */

//   &.lock:before {
//     background: linear-gradient(to bottom right, #12dc2a, #15d9b6);
//   }

//   // &.lock:hover:after {
//   //   position: absolute;
//   //   top: 0;
//   //   right: 0;
//   //   bottom: 0;
//   //   left: 0;
//   //   margin: -$border;
//   //   content: '';
//   //   border-radius: inherit;
//   //   background: linear-gradient(to bottom right, #12dc2a#{$opasity},#15d9b6#{$opasity});
//   // }

//   &.lock:hover:before {
//     background: linear-gradient(to bottom right, lighten(#12dc2a, $lighten), lighten(#15d9b6, $lighten));
//   }

//   .icon {
//     position: absolute;
//     left: 0;
//     display: block;
//     width: 65px;
//     height: 39px;
//     // background-color: gray;
//   }

//   i {
//     font-size: 30px !important;
//     line-height: 30px !important;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: $text !important;
//   }

//   p, span {
//     display: block;
//     margin-left: 50px;
//   }

//   p {
//     font-size: 20px;
//     font-weight: bold;
//     line-height: 20px;
//   }

//   span {
//     font-size: 16px;
//     font-weight: normal;
//     line-height: 16px;
//   }
// }

.button,
.button-big,
.button-l {
  &:hover {
    text-decoration: none;
  }
}

.button,
.button-big {
  &:hover {
    color: #fff;
  }
}
