.cards {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  .card {
    position: relative;
    flex-shrink: 0;
    width: 255px;
    margin: 0 15px;
    text-align: center;
    font-weight: normal;

    @include image(130px) {
      margin: 0 auto;
      @include shadow-big();
    }

    .card-body {
      margin-top: 25px;


      .title {
        font-size: 22px;
        font-weight: bold;
      }

      .description {
        color: darken($white, 20%);
      }

      .tags {
        margin-top: 12px;
      }
    }

  }
}