body {
  font-family: $font-general;
  line-height: 1.5;
  position: relative;
  letter-spacing: normal;
  color: $text;
  background-color: $background;
}

.line1 {
  position: fixed;
  z-index: 999;
  width: 1280px;
  height: 100%;
  pointer-events: none;
  border-right: 1px solid red;
  border-left: 1px solid red;

@extend %center_abs_x;
}

#main {

  > .wrapper {
    margin: 0 auto;
    display: flex;
    // margin-top: 50px;
    // padding: 0 320px;
    // padding: 0 17%;
    width: $wrapper-width;

    > .page-content {
      width: 850px;
      // overflow: hidden;
    }

    > .sideblock {
      width: 370px;
      margin-left: 50px;
      border-left: 1px solid $border-color;
      // border-radius: 12px;
      // @include shadow-inset();

      padding-left: 16px;

      .section {
        margin-top: 23px;

        .title {
          margin: 0;
          margin-bottom: 23px;

          i {
            font-size: 1.1em;
            color: $icon-color;
            margin-right: 9px;
          }
        }
      }
    }
  }
}

.icon {
  font-size: 1.1em;
  color: $icon-color;
  margin-right: 9px;
}

img {
  pointer-events: none;
}

.no_select {
  user-select: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hr-margin {
  margin-bottom: 16px;
}
