.dropdown {
  position: relative;

  // &::after {
  //   font-family: $font-fa;
  //   font-size: -3px;
  //   font-weight: $font-fa-solid;
  //   display: inline-block;
  //   margin-left: 7px;
  //   content: "\f107";
  // }

  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    height: 2px;
    width: 9px;
    background: $white;
    // backface-visibility: hidden;

    transition: width .3s, transform .3s;
  }

  &::before {
    right: 20px;
    transform: rotate(45deg);
  }

  &::after {
    right: 15px;
    transform: rotate(-45deg);
  }

  &.dropdown-opened {
    &::before {
     transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}


.dropdown-menu-big {
  position: relative;
  overflow: hidden;
  height: 450px;
  color: $white;
  background: $header-bigmenu-background;
}

.dropdown-menu * {
  color: $text !important;
}

.dropdown-menu,
.dropdown-menu-secondary {
  position: absolute;
  z-index: 100;
  display: none;
  box-sizing: border-box;
  min-width: 280px;

  // margin-top: 2px;
  // padding: 4px;

  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transform: scale(0);
  transform-origin: 100% 0;
  opacity: 0;
  border: 1px solid $dropdown-border-color;
  border-radius: 1px;
  background: $dropdown-bg;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  text-shadow: none;
  will-change: transform, opacity;
  &.dropdown-open-left {
    transform-origin: 0 100%;
  }

  &.dropdown-open-right {
    transform-origin: 100% 0;
  }

  &.dropdown-opened,
  &.opened {
    display: block;
    transform: scale(1);
    opacity: 1;
  }

  // &::before, &::after {
  //   position: absolute;
  //   right: 25px;
  //   bottom: 98%;
  //   width: 39px;
  //   height: 10px;
  //   content: '';
  //   background: url(#{$url_images}/images/dropdown_after.svg) 0 0/100% 100% no-repeat;

  //   fill: #252631;
  // }

  // &::before {
  //   margin-bottom: 1px;
  // }

  a {
    font-weight: 400;
    line-height: 30px;
    line-height: $button-line-height;
    position: relative;
    display: block;
    padding: 0 1.5rem;
    transition: all 0.15s linear;
    white-space: nowrap;
    text-decoration: none;
    color: $text;
    text-shadow: none;
    // background-color: #ccc;

    // &:hover,
    // &:focus,
    // &:active {
    //   @include shadow-small-color($primary-color);
    //   background-color: $primary-color;
    //   color: $white;
    // }
  }

  a.personal {
    &:after {
      font-family: $font-fa;
      font-size: 15px;
      font-weight: $font-fa-solid;
      position: relative;
      margin: 0 0 0 15px;
      content: "\f02e";
      color: #ff8e33;
    }
  }
}

.dropdown-menu-secondary {
  top: -1px;
  left: 100%;
  height: auto;
  background-color: #fff;
}

.dropdown-content {
  .has-children {
    padding-right: 40px;
  }

  .dropdown-menu-secondary {
    overflow: hidden;
    width: 554px;
    padding-bottom: 65px;
    li {
      height: 250px;
      margin: 20px 0;
      padding: 0 30px;
      border-style: solid;
      border-color: #ebebeb;
      border-right-width: 1px;

      width: 50%;
      float: left;
      a {
        font-size: 1.6rem;
        line-height: 30px;
        height: 30px;
        margin-bottom: 10px;
        pointer-events: none;

        color: #3f8654;
      }

      ul {
        position: relative;
        height: auto;

        transform: translate(0);
      }
    }
  }
}
