.navbar-header {
  position: sticky;
  z-index: 10;
  top: 0;
  display: block;
  width: 100%;
  user-select: none;
  background-color: $header-background;
  padding: 0 120px;
  box-sizing: border-box;
  transition: 0.2s cubic-bezier(0, 0, 0, 1);
  @include shadow-navbar-color($header-background);

  // background: #fff;
  // position: sticky;
  // top: 0;
  // width: 100%;
  // padding: 0 80px;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // height: 58px;
  // font-size: .9em;
  // z-index: 1000;
  // box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  // transition: 0.2s cubic-bezier(0, 0, 0, 1);

  &.navbar-header-transparent {
    background: transparent;
    border-bottom: 0;
    box-shadow: none !important;
  }

  font-family: $font-general;
  font-size: $font-size-default;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // @import header-color($)

  // * {
  //   // white-space: nowrap;
  //   color: $white;
  // }

  .logo {
    display: block;
    flex: 0 0 164px;
    width: 164px;
    height: 43px;
    background: url(#{$url_images}/images/logo_full.png) 0 0/100% 100% no-repeat;
  }

  .main_menu {
    display: flex;
    flex-grow: 1;
    margin-left: 70px;

    > ul {
      display: flex;
      white-space: nowrap;

      > li {
        line-height: $header-height;

        position: relative;
        display: block;
        padding: 0 20px;
        list-style: none;
        cursor: pointer;

        &.dropdown {
          padding-right: 40px;

          &::before {
            right: 25px;
          }

          &::after {
            right: 20px;
          }
        }

        // >span {
        //   display: inline-block;
        // }

        > a,
        > span,
        > span > a {
          color: $white;
        }

        a {
          text-decoration: none;
          &:hover {
            // color: inherit;
          }
        }
        *.no-hover {
          pointer-events: none;
        }
        &:hover,
        &.selected {
          background-color: $header-background_select;
        }
      }
    }
  }

  .right-block * {
    color: $white !important;
  }

  ul.ul-buttons {
    display: flex;
    margin: 0 auto;

    i {
      margin-right: 7px;
    }

    li {
      line-height: 56px;
      position: relative;
      display: block;
      list-style: none;
      cursor: pointer;
      white-space: nowrap;

      a {
        text-decoration: none;
        color: $text;

        // &:hover {
        //   color: $text-blue;
        // }
      }

      &::after {
        font-family: $font-fa;
        font-weight: $font-fa-solid;

        // vertical-align: middle;

        margin: 0 18px;
        content: "|";
        opacity: 0.9;
        color: $white;
        // font-size: 18px;
      }

      &:last-child::after {
        margin: 0;
        content: "";
      }
    }
  }
}
