.monitoring-list {
  // width: 370px;

  .server-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    // width: 310px;
    width: 315px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 9px 12px;
    transition: all 0.2s linear;
    // border: 1px solid $border-color;
    border-radius: 9px;
    background-color: $white;

    @include shadow();

    .server-icon {
      position: relative;
      overflow: hidden;
      width: 39px;
      height: 39px;
      border-radius: 50%;
      background: #1e2125;

      i {
        font-size: 20px;
        color: $white;

        @extend %center_abs;

        &::after {
          z-index: -1;
          content: "";

          @extend %center_abs;
        }

        &::after {
          @include lighting($gray);
        }

        &.enigmatic::after {
          @include lighting($monitoring-enigmatic);
        }

        &.neoteric::after {
          @include lighting($monitoring-neoteric);
        }

        &.aeternum::after {
          @include lighting($monitoring-aeternum);
        }
      }
    }

    .content {
        font-weight: 500;
        .server-name {
        font-size: 1rem;
        line-height: 25px;
        display: inline-block;
      }

      .server-status {
        font-family: $font-second;
        font-size: 0.8rem;
        line-height: 25px;
        display: inline-block;
        float: right;
        text-transform: uppercase;
      }

      .server-status-bar {
        width: 200px;
        height: 12px;
        border-radius: 99px;
        @include shadow-inset();

        .server-status-bar-filler {
          height: inherit;
          border-radius: 99px;
          background-color: $gray;

          &.blue {
            // @include lighten-gradient-background($progressbar-blue, 3%);
            background-color: $progressbar-blue;
          }
          &.green {
            // @include lighten-gradient-background($progressbar-green, 3%);
            background-color: $progressbar-green;
          }
          &.yellow {
            // @include lighten-gradient-background($progressbar-yellow, 3%);
            background-color: $progressbar-yellow;
          }
          &.orange {
            // @include lighten-gradient-background($progressbar-orange, 3%);
            background-color: $progressbar-orange;
          }
          &.red {
            // @include lighten-gradient-background($progressbar-red, 3%);
            background-color: $progressbar-red;
          }
        }
      }
    }

    .server-link {
      width: 15px;
      height: 15px;
      margin: auto 0;
      margin-right: 4px;
      transition: all 0.1s ease;
      opacity: 0;
      background: url(/mlweb_designs/templates/minilife/images/info_icon.svg) 0 0/100% 100% no-repeat;
    }

    &:hover {
      @include shadow-hover();

      .server-link {
        opacity: 1;
      }
    }
  }
}
