.news-short {
  overflow: hidden;
  box-sizing: border-box;
  width: 850px;
  min-height: 160px;
  padding: 18px;
  // border: 1px solid $border-color;
  border-radius: 12px;
  background-color: $white;

  @include shadow();

  // box-shadow: inset 8px 8px 16px 0 rgba(0, 0, 0, 0.2),
  // inset -8px -8px 16px 0 rgba(255, 255, 255, 0.4);

  .header {
    position: relative;
    margin-bottom: 10px;

    .counters {
      font-size: 18px;
      font-weight: 500;
      position: absolute;
      right: 0;

      @extend %center_abs_y;

      li {
        float: left;
        padding: 0 13px;
        border-right: 1px solid $border-color;

        &:first-child {
          padding-right: 13px;
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
          padding-left: 13px;
          border: none;
        }

        &::before {
          font-family: $font-fa;
          font-weight: $font-fa-solid;
          margin-right: 7px;
          content: "\f059";
        }

        &.likes::before {
          content: "\f004";
        }

        &.comments::before {
          content: "\f075";
        }

        &.views::before {
          content: "\f06e";
        }
      }
    }
  }

  .body {
    display: flex;
    padding: 0 10px;

    .left-block {
      width: 146px;

      .image {
        position: relative;
        overflow: hidden;
        width: 140px;
        height: 140px;
        transition: border-color 0.5s ease;
        border: 3px solid $border-color;
        border-radius: 50%;

        &:hover {
          border-color: $blue;
        }

        img {
          position: absolute;
          left: 50%;
          height: 140px;
          transform: translateX(-50%);

          // &::after {
          //   content: 'Кажется что-то сломалось';
          //   background: #FFF;
          //   text-align: center;
          // }
        }
      }

      .date {
        font-family: $font-second;
        font-size: $font-size-mini;
        font-weight: 500;
        margin-top: 11px;
        text-align: center;
      }
    }

    .content {
      position: relative;
      width: 100%;

      // margin-top: 5px;
      margin-left: 35px;

      .title {
        margin: 5px 0 0 0;
      }

      .text {
        font-family: $font-second;
        font-size: $font-size-default;
        font-weight: normal;
        padding-bottom: 15px;
        text-align: justify;
      }
    }
  }

  .footer {
    position: absolute;
    right: -10px;
    bottom: 0px;
  }
}
