.news_list {
  position: relative;
  overflow: hidden;
  // width: 100%;
  height: 70px;
  padding: 18px;
  border: 1px solid $border-color;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  .button {
    line-height: 35px;

    &.no-active {
      background-color: $gray;
    }

    &.back::before {
      content: '\f104';
      font-family: $font-fa;
      font-size: $font-size-mini + 2px;
      font-weight: $font-fa-solid;
      position: relative;
      margin-right: 7px;
    }

    &.next::after {
      content: '\f105';
      font-family: $font-fa;
      font-size: $font-size-mini + 2px;
      font-weight: $font-fa-solid;
      position: relative;
      margin-left: 7px;
    }
  }

  .pages-list {
    text-align: center;
    // display: flex;

    a,
    span {
      font-family: $font-second;
      font-size: $font-size-default;
      font-weight: normal;
      line-height: 28px;
      display: inline-block;
      width: 28px;
      height: 28px;
      text-align: center;
      border-radius: 50%;
    }

    a {
      border: 2px solid transparent;
      text-decoration: none;
      color: $text;

      &:hover {
        border-color: $blue;
      }
    }

    .current {
      user-select: none;
      color: $white;
      background-color: $green;
      border: 2px solid $green;

    }

    .list::before {
      color: $text;
      content: "\f141";
      font-family: $font-fa;
      font-weight: $font-fa-light;
    }
  }
}
