@import '_vars';
@import '_libs';

$logo_size: 200px;
$preloader_size: 250px;
$border_size: 3px;

#preloader {
  // background-color: #1a1a1f;
  background-color: #ececec;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;

  .wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) scale(1.2);


    .loader-logo {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: $logo_size;
      height: $logo_size;
      background: url('/assets/images/logo.svg') 0 0 / 100% 100% no-repeat;
    }

    .loader {
      display: block;
      // position: absolute;
      left: 50%;
      top: 50%;
      width: $preloader_size;
      height: $preloader_size;
      // margin: -($preloader_size / 2) 0 0 -($preloader_size / 2);
      border-radius: 50%;
      border: $border_size solid transparent;
      border-top-color: #3abe45;
      animation: spin 1.7s linear infinite;
    }

    .loader:before {
      content: "";
      position: absolute;
      top:    7px;
      left:   7px;
      right:  7px;
      bottom: 7px;
      border-radius: 50%;
      border: $border_size solid transparent;
      border-top-color: #B8662E;
      animation: spin_alt 1s linear infinite;
    }

    .loader:after {
      content: "";
      position: absolute;
      top:    17px;
      left:   17px;
      right:  17px;
      bottom: 17px;
      border-radius: 50%;
      border: $border_size solid transparent;
      border-top-color: #349FEA;
      animation: spin 3.5s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin_alt {
  0% {
    -webkit-transform: rotate(-0deg);
    -ms-transform: rotate(-0deg);
    transform: rotate(-0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}