
.slider_box {
  position: relative;
  width: 100%;
  text-align: center;
  transform: translateY(- $header-height - 1);

  .review {
    height: 250px + $header-height;
  }

  .content {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 700px;

    @extend %center_abs;

    margin-top: $header-height / 4;

    .title {
      font-family: $font-general;
      font-size: 36px;
      font-weight: bold;
      color: #fff;
    }

    .description {
      font-family: $font-second;
      font-size: 18px;
      margin-top: 10px;
      color: #fff;
    }
  }

  .background {
    overflow: hidden;
    height: inherit;

    .image {
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;

      filter: saturate(100% + 5%) contrast(100% + 2%) brightness(100% - 40%);
      // width: 100%;
    }
  }
}
