a {
  transition: all .15s ease;
  text-decoration: none;
  color: $text-blue;

  &:hover {
    text-decoration: underline;
    color: $text-blue;
  }
}

button, button:active, button:focus {
  user-select: none;
}

a.button, button.button {
  text-decoration: none;
}

h1, h2, h3, .h1, .h2, .h3 {
  margin: 20px 0 10px 0;
}

h1, .h1 {
  font-family: $font-general;
  font-size: $font-size-h1;
  font-weight: bold;
  line-height: 1.15em;
  color: $text-blue;
}

h2, .h2 {
  font-size: $font-size-h2;
  line-height: 1.5em;
}

h3, .h3 {
  font-size: $font-size-h3;
  line-height: 1.4em;
}

h4, .h4 {
  font-size: $font-size-h4;
  line-height: 1.5em;
}

h5, .h5 {
  font-size: $font-size-h5;
  line-height: 1.55em;
  margin-bottom: 15px;
}

h6, .h6 {
  font-size: $font-size-h6;
  text-transform: uppercase;
  // font-weight: $font-weight-bold;
}

p {
  font-family: $font-second;
  font-size: $font-size-default;
  margin: 0 0 10px;
}

b {
  font-weight: 700;
}