
.user-profile {
  // display: flex;
  align-items: center;
  height: 40px;

  .avatar {
    float: left;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    img {
      height: 40px;
    }
  }

  .nickname {
    font-family: $font-general;
    font-size: $font-size-default;
    font-weight: bold;
    line-height: 40px;
    float: left;
    margin-left: 10px;

    &, a {
      text-decoration: none;
      color: $text;
    }
  }
}