// Выделение

::selection {
  background: rgba(103, 175, 242, .4);
}

// Скролл

::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
  background-color: transparent;
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  // box-shadow: 0 0 10px #000;
  border: 5px solid transparent;
  border-radius: 10rem;
  background-color: $blue;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}