// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

// antialiasing mode font rendering

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin backface-visibility($x) {
  backface-visibility: $x;
}

@mixin transition($selectors...) {
  @each $name in $selectors {
    transition: $name;
  }
}

@mixin transform($selectors...) {
  @each $name in $selectors {
    transform: $name;
  }
}

@mixin transform($selector) {
  transform: $selector;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($name) {
  animation: $name;
}
