.progress-bar {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: initial;
    height: initial;
    content: '';
    background: rgba(255, 255, 255, 0.2);
    border-radius: inherit;
    animation-name: ripple-progress;
    animation-duration: 2.8s;
    animation-iteration-count: infinite;
    transform-origin: 0 50%;

  }
}
@keyframes ripple-progress {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  80% {
    transform: scaleX(1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
