.button {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple-effect {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  display: inline-block;
  width: 0;
  height: 0;
  animation: ripple 1.2s ease forwards;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 5000px;
}

.ripple {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  animation: ripple 1.4s ease forwards;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}
