@media (min-width: 400px) {

}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}


@media (min-width: 992px) {

}

// @media (min-width: 1200px) {
//   header .container {
//     margin: 0 100px;
//   }

//   .main_menu {
//     margin-left: 0;
//   }
// }

// @media (min-width: 1820px) {
//   header .container {
//     margin: 0 120px;
//   }

//   .main_menu {
//     margin-left: 70px;
//   }
// }