%center_abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%center_abs_x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

%center_abs_y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
