/* ******************************** *
  *  FONTS
* ********************************* */

$font-general: 'Comfortaa';
$font-second: 'Exo 2';
$font-third: 'Chadwick Cyrillic';

$font-fa: 'Font Awesome 5 Pro';
$font-fa-solid: 900;
$font-fa-regular: 400;
$font-fa-light: 300;
$font-fa-duotone: 900;
$font-fa-brands: 400;

$font-size-default: 16px;
$font-size-mini: 14px;

$font-size-h1: 3.3125rem;
$font-size-h2: 2.25rem;
$font-size-h3: 1.5625rem;
$font-size-h4: 1.325rem;  // 1.1
$font-size-h5: 1.2625rem;  // 1.0
$font-size-h6: 0.75rem;


$button-line-height: 2.3rem;

/* ******************************** *
  *  Шапка
* ********************************* */

$header-background: #252631;
$header-background_select: darken($header-background, 2%);
$header-bigmenu-background: darken($header-background, 4.5%);

$header-height: 56px;

/* ******************************** *
  *  Кнопки
* ********************************* */

$button-blue: #3fa9f3;
$button-green: rgb(87, 206, 66);
$button-vk: #4A91C3;
// $button-green: #1EC089;

/* ******************************** *
  *  SERVERS COLORS
* ********************************* */

$server_enigmatic: #D85420;
$server_neoteric: #12AC1A;

$monitoring-enigmatic: #ff12b0;
$monitoring-neoteric: #ff9317;
$monitoring-aeternum: #3ad72a;

$progressbar-blue: #5ac1f1;
$progressbar-green: #96e44b;
$progressbar-yellow: #ffcf2e;
$progressbar-orange: #fda54e;
$progressbar-red: #ff4343;

/* ******************************** *
  *  1
* ********************************* */

$blue: #00bcd4;
$green: #59C646;
$orange: #ff9800;
$pink: #f956ff;
$purple: #cc28d2;
$red: #f44336;
$yellow: #ffda00;

$primary: $green;
$info: #11cdef;
$success: #2dce89;
$warning: #fb6340;
$danger: #f5365c;
$default: #f5365c;

// $success-color:

$white: #FFF;
$shadow: #000;
$gray: #ccc;


$primary-color: $green;

$border-color: darken(#FFF, 11%);
$border-color-hover: darken($border-color, 5%);

$background: #fcfcfc;
$block-background: #FFF;

$dropdown-bg: $block-background;
$dropdown-border-color: $border-color;

$text: #333;
$text-blue: #00add4;
$text-purple: #5e72e4;
$icon-color: #0076e0;

$shadow-umbra-opacity: 0.2;
$shadow-penumbra-opacity: 0.14;
$shadow-ambient-opacity: 0.12;

// $screen-sv: 576px;
// $screen-xga: 768px;
// $screen-fullhd: 1920px;

$wrapper-width: 67%;

/* ******************************** *
  *  Скролл бар
* ********************************* */

$scrollbar: darken(#FFF, 4%);
$scrollbar-size: 7px;

/* ******************************** *
  *  Пути
* ********************************* */

$url_images: '/assets';




.minecraft-color-bold-0 {background: #000;color: #808080}
.minecraft-color-bold-1 {background: #0000AA;color: #6060D4}
.minecraft-color-bold-2 {background: #00AA00;color: #006F00}
.minecraft-color-bold-3 {background: #00AAAA;color: #006F6F}
.minecraft-color-bold-4 {background: #AA0000;color: #6F0000}
.minecraft-color-bold-5 {background: #AA00AA;color: #6F006F}
.minecraft-color-bold-6 {background: #FFAA00;color: #A66F00}
.minecraft-color-bold-7 {background: #AAA;color: #666666}
.minecraft-color-bold-8 {background: #555;color: #404040}
.minecraft-color-bold-9 {background: #5555FF;color: #1C1CA6}
.minecraft-color-bold-a {background: #55FF55;color: #1CA61C}
.minecraft-color-bold-b {background: #55FFFF;color: #1CA6A6}
.minecraft-color-bold-c {background: #FF5555;color: #A61C1C}
.minecraft-color-bold-d {background: #FF55FF;color: #A61CA6}
.minecraft-color-bold-e {background: #FFFF55;color: #A6A61C}
.minecraft-color-bold-f {background: #FFF;color: #BFBFBF}

.minecraft-color-0 {color: #000}
.minecraft-color-1 {color: #0000AA}
.minecraft-color-2 {color: #00AA00}
.minecraft-color-3 {color: #00AAAA}
.minecraft-color-4 {color: #AA0000}
.minecraft-color-5 {color: #AA00AA}
.minecraft-color-6 {color: #FFAA00}
.minecraft-color-7 {color: #AAA}
.minecraft-color-8 {color: #555}
.minecraft-color-9 {color: #5555FF}
.minecraft-color-a {color: #55FF55}
.minecraft-color-b {color: #55FFFF}
.minecraft-color-c {color: #FF5555}
.minecraft-color-d {color: #FF55FF}
.minecraft-color-e {color: #FFFF55}
.minecraft-color-f {color: #FFF}