.c-green {
  color: $green !important;
}

.c-blue {
  color: $blue !important;
}

.c-green {
  color: $green !important;
}

.c-orange {
  color: $orange !important;
}

.c-pink {
  color: $pink !important;
}

.c-purple {
  color: $purple !important;
}

.c-red {
  color: $red !important;
}

.c-yellow {
  color: $yellow !important;
}

.b-green {
  background-color: $green !important;
}

.b-blue {
  background-color: $blue !important;
}

.b-green {
  background-color: $green !important;
}

.b-orange {
  background-color: $orange !important;
}

.b-pink {
  background-color: $pink !important;
}

.b-purple {
  background-color: $purple !important;
}

.b-red {
  background-color: $red !important;
}

.b-yellow {
  background-color: $yellow !important;
}
