@mixin image($size) {
  .image {
    overflow: hidden;
    width: $size;
    height: $size;
    border-radius: 50%;
    position: relative;

    @content;

    img {
      position: absolute;
      left: 50%;
      height: $size;
      transform: translateX(-50%);
    }
  }
}

@mixin headings() {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}


@mixin b-colors() {
  .b-green {
    background-color: $green !important;
  }

}

// @mixin b-colors() {
//   .b-green {
//     background-color: $green !important;
//   }

// }
