@font-face {
	font-family: 'Comfortaa';
	src: url('Comfortaa.eot');
	src: local('Comfortaa'),
		url('Comfortaa.eot?#iefix') format('embedded-opentype'),
		url('Comfortaa.woff') format('woff'),
		url('Comfortaa.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('Comfortaa-Bold.eot');
	src: local('Comfortaa Bold'), local('Comfortaa-Bold'),
		url('Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),
		url('Comfortaa-Bold.woff') format('woff'),
		url('Comfortaa-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('Comfortaa-Light.eot');
	src: local('Comfortaa Light'), local('Comfortaa-Light'),
		url('Comfortaa-Light.eot?#iefix') format('embedded-opentype'),
		url('Comfortaa-Light.woff') format('woff'),
		url('Comfortaa-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
