.noty_theme__default.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  /* border-radius: 2px; */
  /* position: relative; */


  /* text-align: left; */
  /* padding: 21px 0; */
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  max-width: 500px;
  /* top: 0px; */
  position: relative;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
}

.noty_theme__default.noty_bar .noty_body {
  padding: 18px 10px;
  /* font-size: 14px; */
}

.noty_theme__default.noty_bar .noty_buttons {
  padding: 10px;
}

/*  */

.noty_theme__default.noty_bar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width:                     4.2px;
  border-top-left-radius:    4.2px;
  border-bottom-left-radius: 4.2px;
}


/*  */


.noty_theme__default.noty_bar .noty_icon {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  border-radius: 50%;
  display: inline-block;
  margin-left: 15px;
}

.noty_theme__default.noty_bar .noty_icon:before {
  display: block;
  line-height: 24px;
  font-size: 13px;
  float: left;
  /* position: absolute; */
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  color: rgb(255, 255, 255);
  text-align: center;

}


.noty_theme__default.noty_bar:before {
  background-color: rgb(138, 138, 138);
}

.noty_theme__default.noty_bar .noty_icon {
  background-color: rgb(138, 138, 138);
}

.noty_theme__default.noty_bar .noty_icon:before {
  font-family: 'Font Awesome 5 Pro';
  content: '\f06a';
}

/*  */

.noty_theme__default.noty_bar.noty_type__success:before {
  background-color: rgb(73, 231, 91);
}

.noty_theme__default.noty_bar.noty_type__success .noty_icon {
  background-color: rgb(73, 231, 91);
}

.noty_theme__default.noty_bar.noty_type__success .noty_icon:before {
  font-family: 'Font Awesome 5 Pro';
  content: '\f00c';
}

.noty_theme__default.noty_bar.noty_type__warning:before {
  background-color: rgb(255, 190, 50);
}

.noty_theme__default.noty_bar.noty_type__warning .noty_icon {
  background-color: rgb(255, 190, 50);
}

.noty_theme__default.noty_bar.noty_type__warning .noty_icon:before {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  content: '\f12a';
}

.noty_theme__default.noty_bar.noty_type__error:before {
  background-color: rgb(255, 69, 37);
}

.noty_theme__default.noty_bar.noty_type__error .noty_icon {
  background-color: rgb(255, 69, 37);
}

.noty_theme__default.noty_bar.noty_type__error .noty_icon:before {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  content: '\f188';

}

.noty_theme__default.noty_bar.noty_type__alert:before {
  background-color: rgb(194, 194, 194);
}

.noty_theme__default.noty_bar.noty_type__alert .noty_icon {
  background-color: rgb(194, 194, 194);
}

.noty_theme__default.noty_bar.noty_type__alert .noty_icon:before {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  content: '\f129';
}

.noty_theme__default.noty_bar.noty_type__info:before {
  background-color: rgb(72, 145, 255);
}

.noty_theme__default.noty_bar.noty_type__info .noty_icon {
  background-color: rgb(72, 145, 255);
}

.noty_theme__default.noty_bar.noty_type__info .noty_icon:before {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  content: '\f129';
}

/*  */

.noty_theme__default.noty_bar .noty_content {
  padding: 0px 60px;
  color: #3e3e3e;
  word-break: break-all;
  overflow: hidden;
}

.noty_theme__default.noty_bar .noty_title {
  font: 600 16px 'Comfortaa', sans-serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0px;
}

.noty_theme__default.noty_bar .noty_message {
  font: 400 15px 'Exo 2.0', sans-serif;
  margin-top: 3px;
  margin-bottom: 0;
}

.noty_theme__default.noty_bar .noty_close_button {
  position: absolute;
  right: 18px;
  top: 50%;
  /* width: 14px;
  height: 14px; */
  cursor: pointer;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.20);
}

.noty_theme__default.noty_bar .noty_close_button > i {
  font-size:   18px;
  line-height: 18px;
}

.noty_theme__default.noty_bar .noty_close_button:hover {
  color: rgba(0, 0, 0, 0.30);
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  background-color: #d3d3d3;
}
