.notys {
  position: absolute;
  right: 0.4%;
  top: -8%;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 10;
}

.noty_container {
  display: table-cell;
  vertical-align: middle;
}

.noty_cell {
  display: inline-block;
}

.add-margin {
  margin-top: 10px;
}

.noty_svg {
  fill: #fff;
  margin-bottom: 10px;
}

.noty {
  text-align: left;
  padding: 21px 0;
  background-color: #fff;
  border-radius: 4px;
  max-width: 500px;
  top: 0px;
  position: relative;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
}

.noty:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.noty_icon {
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  padding: 7px;
  border-radius: 50%;
  display: inline-block;
}

.noty_icon:before {
  color: #FFF;
  position: absolute;
}

.noty_type {
  color: #3e3e3e;
  font: 600 15px 'Comfortaa', sans-serif;
  margin-top: 0;
  margin-bottom: 8px;
}

.noty_message {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  color: #878787;
}

.noty_content {
  padding-left: 70px;
  padding-right: 60px;
}

.noty_close {
  position: absolute;
  right: 22px;
  top: 50%;
  width: 14px;
  cursor: pointer;
  height: 14px;
  fill: #878787;
  transform: translateY(-50%);
}

.noty_close:before {
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  font-family: 'Font Awesome 5 Pro';
  content: '\f00d';
}

.noty-success .noty_icon {
  background-color: #2BDE3F;
}

.noty-success .noty_icon:before {
  font-family: 'Font Awesome 5 Pro';
  content: '\f00c';
}

.noty-success:before {
  background-color: #2BDE3F;
}

.noty-info .noty_icon {
  background-color: #1D72F3;
}

.noty-info .noty_icon:before {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  content: '\f129';
  left: 11px;
  top: 6px;
}

.noty-info:before {
  background-color: #1D72F3;
}

.noty-warn .noty_icon {
  background-color: #FFC007;
}

.noty-warn .noty_icon:before {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  content: '\f12a';
  left: 11px;
  top: 7px;
}

.noty-warn:before {
  background-color: #FFC007;
}

.noty-error .noty_icon {
  background-color: rgb(255, 44, 7);
}

.noty-error .noty_icon:before {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  content: '\f188';
  left: 7px;
  top: 7px;
}

.noty-error:before {
  background-color: rgb(255, 44, 7);
}